body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;

}

h1,
p,
h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
}

#header {
    background: rgba(192, 189, 189, 0.904);

    margin-bottom: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__btn {
    background: rgb(168, 11, 11);
    border-radius: 8px;

    padding: 20px 40px;
}

.header__btn:hover {
    background: transparent;
    border: 2px solid black;
}

.btn-text {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.btn-text:hover {
    color: black;
}

.inner {
    display: flex;
}

#menu {
    display: flex;
    justify-content: center;

    background: rgb(168, 11, 11);
    width: 40%;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px 0;
}

.nav__link {
    margin-bottom: 30px;

    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.content {
    width: 60%;
    margin-left: 20px;
}

#post h2 {
    text-transform: uppercase;
    font-size: 40px;

    margin-bottom: 10px;
}

#post p {
    font-size: 20px;
    margin-bottom: 50px;
}

#post img {
    display: block;
    margin: 0 auto;
}